<h1>Scott Joseph Larson</h1>

<!---
scott.joseph.larson@gmail.com
scott.larson@uga.edu
-->

<p><img src="./img/emails.png" height=40>  </p>

<p><img src="./img/current.jpg" height=200></p>

<p><a href="http://arxiv.org/a/larson_s_2">ArXiV</a> <br />
<a href="https://mathscinet.ams.org/mathscinet/MRAuthorID/1603704">MathSciNet</a> <br />
<a href="https://www.mathgenealogy.org/id.php?id=283623">Mathematics Genealogy Project</a>   </p>

<p>Papers:</p>

<ol reversed>
<li> <a href="https://arxiv.org/abs/2203.09007">A categorification of the Lusztig--Vogan module</a> </li>
Video: <a href="https://youtu.be/wkhc-YPagDM">UGA Algebra Seminar</a>

<li> <a href="https://www.tandfonline.com/doi/full/10.1080/00927872.2023.2281602">Decompositions of Schubert varieties and small resolutions</a> </li>

<li> <a href="https://www.proquest.com/docview/2437437562">Dissertation: Small Resolutions of Closures of K-Orbits in Flag Varieties </a> </li>
Video: 
<a href="https://youtu.be/zldOj2TkGkI">UGA Algebra Seminar 1</a>
<a href="https://youtu.be/s-1b7ldllfA">UGA Algebra Seminar 2</a> 
</ol>

<p>Videos:</p>

<p><a href="http://www.youtube.com/@ugaalgebra4581">UGA Algebra Seminar Videos</a></p>
